<header>
    <nav>
        <div class="logo">Artemiz</div>
        <ul>
            @if (isloggedIn) {
                <li><img class="imgUsuario" [src]="userData?.imgPerf" alt="usuario"></li>
                <li><label for="nombre">{{ userData?.nombre }}</label></li>
                <li><a href="/cart"><i class="fa-solid fa-cart-shopping" style="color: black;  width: 30px;"></i></a></li>
                <li><a href=""><i class="fa-solid fa-house" style="color: black; width: 30px;"></i></a></li>
                <li><a href="/login"  (click)="onLogout()"><i class="fa-solid fa-right-from-bracket" style="color: black; width: 30px;"></i></a></li>
            

            }@else{
                <li><a href="/login">Iniciar sesion</a></li>
                <li><a href="/register">Registrarse</a></li>
            }
        </ul>
    </nav>
</header>