header {
    background-color: #7ea7ee;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 100%;    
    width: 100%;
}


ul{
    list-style: none;
    display: flex;
    margin: 0;
    gap: 15px;
    align-items: center;
}

li{
    margin: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.imgUsuario{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
}
i {
    font-size: 1.25rem;
}

.btn-ver-favoritos {
  background-color: #e74c3c;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}

.btn-ver-favoritos:hover {
  background-color: #c0392b;
  text-decoration: none;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.btn-icon:hover {
  background-color: #ddd;
}

.btn-icon i {
  font-size: 1.2rem;
  color: #333;
}
