body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f2f2;
    
}



.banner {
    position: relative;
    background-image: url("../../../../public/assets/bannerfondo.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #333;
    text-align: center;
    padding: 120px 20px;
    color: white;
}

.banner h1{
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}
.banner p {
    font-size: 1.25rem;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.productos {
    text-align: center;
    padding: 60px 15px;
    
}

.producto {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}
.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.producto p {
    font-size: 20px;
}

.button-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}

.btn,
.btn-res {
  margin: 0 auto; 
  width: fit-content;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.btn {
  background-color: #ff6600;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #e65c00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-res {
  background-color: transparent;
  color: #ff6600;
  border: 2px solid #ff6600;
}

.btn-res:hover {
  background-color: #ff6600;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn-res:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #e65c00;
}

.icon-fav {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  z-index: 5; /* Hace que el icono esté por encima de la img*/
  border-radius: 50%; 
  padding: 6px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #f3f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); /* Sombra */
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease, box-shadow 0.2s ease;
}

.icon-fav svg {
  width: 24px; 
  height: 24px; 
  stroke: #ff6600; 
  fill: none;
  
}

.icon-fav:hover {
  background-color: #f0f0f0; 
  transform: scale(1.1); /* Ligeramente más grande */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}


.icon-fav:active {
  transform: scale(0.95); /* Simula el "presionar" */
  background-color: #e0e0e0; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}
