
<body>
    
    <section class="banner">
        <h1>Explora el Arte Único</h1>
        <p>Descubre piezas exclusivas de artistas talentosos.</p>
    </section>
    
    <section class="productos">
        <h2>Destacados</h2>
        <br>
        <div class="grid">
           <div class="producto" *ngFor="let obra of obras">
              <img [src]="obra.img" [alt]="obra.nombre" />
              <h3>{{ obra.nombre }}</h3>
              <p><strong>Autor:</strong> {{ obra.autor }}</p>
              <p>{{ obra.descripcion }}</p>
              <p><strong>Precio:</strong> ${{ obra.precio | number }}</p>
             <div class="botones">
              <a [routerLink]="['/detalle-obra', obra._id]" class="btn">Ver detalle</a>
              <button class="btn" (click)="agregarAlCarrito(obra)">Comprar</button>
            </div>
            </div>
             <p *ngIf="!obras || obras.length === 0" class="no-obras">
        No hay obras disponibles para mostrar.
      </p>
             
        </div>
    </section>
</body>
